{
displayStrings = (
"/tt_tta-beng   /ra-beng.blwf/ra-beng.blwf/tt_tt_ra-beng/nn_tth_ra-beng/p_t_ra-beng/m_ph_ra-beng/n_k_ta-beng/n_ja-beng/n_dh_ba-beng/n_s_tta-beng/b_ddha-beng/b_bh_ra-beng/m_tha-beng/m_d_ra-beng/l_d_ra-beng/g_la-beng/m_p_la-beng/l_gha-beng/l_ddha-beng/m_ph_ra-beng/l_ph_ra-beng/l_bha-beng/sh_tta-beng/ss_tt_ba-beng/s_k_la-beng/s_p_la-beng/s_ph_ra-beng/rh_ra-beng"
);
}
