{
displayStrings = (
"/tt_tta-beng  /tt_tt_ra-beng/nn_tth_ra-beng/p_t_ra-beng/m_ph_ra-beng/l_ph_ra-beng/s_ph_ra-beng   /ra-beng.blwf/m_d_ra-beng/l_d_ra-beng/s_k_la-beng  /p_la-beng/m_p_la-beng/m_pa-beng/m_p_ra-beng/m_pha-beng/m_ra-beng/m_sa-beng/m_ta-beng/m_wa-beng/m_d_ra-beng/m_ph_ra-beng/s_p_la-beng  /n_k_ta-beng/l_pha-beng/l_gha-beng/n_ddha-beng/l_tta-beng/l_ddha-beng 
/n-beng  /n_ja-beng/n_dh_ba-beng  /n_s_tta-beng/s_tta-beng 
/n_ja-beng/n_dh_ba-beng/n_s_tta-beng/b_da-beng/b_la-beng/l_ddha-beng/b_ddha-beng/d_bh_ra-beng/b_bh_ra-beng/m_b_ra-beng/m-beng/n_tha-beng/m_tha-beng  /l_gha-beng/l_ddha-beng/l_bha-beng/sh_tta-beng/ss_tt_ba-beng/rh_ra-beng"
);
}
