{
displayStrings = (
"ককক 
সপ /p_ra-beng  /s_p_ra-beng/k_ka-beng",
" দ ",
"/g_ga-beng/nn_nna-beng/g_nna-beng 
/ng_k_ss_ra-beng 
/ny_c_ba-beng 
/tt_tt_ra-beng 
/nn_tth_ra-beng/nn_ddh_ra-beng 
/t_th_ra-beng 
/n_k_ta-beng/n_ja-beng/n_ddha-beng/n_dh_ba-beng/n_s_tta-beng 
/p_t_ra-beng 
/b_ddha-beng/b_bh_ra-beng 
/m_tha-beng/m_d_ra-beng/m_p_la-beng/m_ph_ra-beng 
/l_gha-beng/l_ddha-beng/l_d_ra-beng/l_ph_ra-beng/l_bha-beng 
/sh_tta-beng 
/ss_tt_ba-beng 
/s_k_la-beng/s_p_la-beng/s_ph_ra-beng 
/rh_ra-beng"
);
}
