(
.notdef,
NULL,
CR,
zerowidthnonjoiner,
zerowidthjoiner,
space,
"anji-beng",
"candrabindu-beng",
"anusvara-beng",
"visarga-beng",
"a-beng",
"aa-beng",
"i-beng",
"ii-beng",
"u-beng",
"uu-beng",
"rVocalic-beng",
"lVocalic-beng",
"e-beng",
"ai-beng",
"o-beng",
"au-beng",
"ka-beng",
"kha-beng",
"ga-beng",
"gha-beng",
"nga-beng",
"ca-beng",
"cha-beng",
"ja-beng",
"jha-beng",
"nya-beng",
"tta-beng",
"ttha-beng",
"dda-beng",
"ddha-beng",
"nna-beng",
"ta-beng",
"tha-beng",
"da-beng",
"dha-beng",
"na-beng",
"pa-beng",
"pha-beng",
"ba-beng",
"bha-beng",
"ma-beng",
"ya-beng",
"ra-beng",
"la-beng",
"sha-beng",
"ssa-beng",
"sa-beng",
"ha-beng",
"nukta-beng",
"avagraha-beng",
"aaMatra-beng",
"iMatra-beng",
"iiMatra-beng",
"uMatra-beng",
"uuMatra-beng",
"rVocalicMatra-beng",
"rrVocalicMatra-beng",
"eMatra-beng",
"aiMatra-beng",
"oMatra-beng",
"auMatra-beng",
"halant-beng",
"taKhanda-beng",
"auLength-beng",
"rra-beng",
"rha-beng",
"yya-beng",
"rrVocalic-beng",
"llVocalic-beng",
"lVocalicMatra-beng",
"llVocalicMatra-beng",
"zero-beng",
"one-beng",
"two-beng",
"three-beng",
"four-beng",
"five-beng",
"six-beng",
"seven-beng",
"eight-beng",
"nine-beng",
"ramiddlediagonal-beng",
"ralowerdiagonal-beng",
"rupeeMark-beng",
"rupeeSign-beng",
"oneNumr-beng",
"twoNumr-beng",
"threeNumr-beng",
"fourNumr-beng",
"oneLessNumr-beng",
"sixteenDnom-beng",
"isshar-beng",
"ganda-beng",
"vedicAnusvara-beng",
"abbreviation-beng",
"sandhi-beng",
"reph-beng",
"ya-beng.pstf",
"k_ma-beng",
"k_ssa-beng",
"k_ss_ma-beng",
"k_sa-beng",
"ng_ka-beng",
"ng_ga-beng",
"c_nya-beng",
"j_ja-beng",
"j_j_ba-beng",
"j_nya-beng",
"j_ra-beng",
"ny_ca-beng",
"ny_c_ba-beng",
"ny_cha-beng",
"ny_ja-beng",
"dd_dda-beng",
"nn_dda-beng",
"t_ta-beng",
"t_t_ra-beng",
"t_tha-beng",
"t_ra-beng",
"d_da-beng",
"d_bha-beng",
"d_bh_ra-beng",
"n_ja-beng",
"n_ra-beng",
"n_sa-beng",
"p_sa-beng",
"b_ja-beng",
"b_dda-beng",
"b_ddha-beng",
"b_da-beng",
"b_d_ra-beng",
"b_bha-beng",
"b_bh_ra-beng",
"m_da-beng",
"m_d_ra-beng",
"m_bh_ra-beng",
"l_gha-beng",
"l_ta-beng",
"l_pha-beng",
"l_bha-beng",
"l_ra-beng",
"l_sa-beng",
"ss_nna-beng",
"s_kha-beng",
"h_ma-beng",
"rr_ra-beng",
"rh_ba-beng",
"rh_ra-beng",
"yy_ba-beng",
"yy_ra-beng",
"ga_uMatra-beng",
"l_ga_uMatra-beng",
"sha_uMatra-beng",
"ha_uMatra-beng",
"k_tta-beng.noflag",
"tt_tta-beng.noflag",
"ph_tta-beng.noflag",
"ss_tta-beng.noflag",
"ttha-beng.notop",
"ss_ttha-beng.notop",
"k_ss-beng.half",
"kh-beng.half",
"g-beng.half",
"g-beng.half2",
"gh-beng.half",
"ng-beng.half",
"ng-beng.half2",
"ng_g-beng.half",
"c-beng.half",
"c-beng.half1",
"c-beng.half2",
"ch-beng.half",
"j-beng.half",
"ny-beng.half",
"tth-beng.half",
"dd-beng.half",
"dd-beng.half1",
"ddh-beng.half",
"ddh-beng.half2",
"nn-beng.half",
"nn-beng.half2",
"nn-beng.half3",
"t-beng.half",
"t_t-beng.half",
"th-beng.half",
"d-beng.half",
"d-beng.half2",
"d-beng.half3",
"d-beng.half4",
"d_d-beng.half",
"dh-beng.half",
"n-beng.half2",
"n-beng.half3",
"n_s-beng.half",
"p-beng.half",
"p-beng.half2",
"p-beng.half3",
"ph-beng.half",
"b-beng.half",
"b-beng.half2",
"bh-beng.half",
"m-beng.half",
"m-beng.half2",
"m-beng.half3",
"l-beng.half3",
"y-beng.half",
"sh-beng.half",
"sh-beng.half2",
"ss-beng.half",
"ss-beng.half3",
"ss-beng.half4",
"s-beng.half",
"s-beng.half2",
"s-beng.half3",
"s-beng.half4",
"h-beng.half",
"h-beng.half2",
"kha-beng.side",
"ga-beng.side",
"ca-beng.side",
"cha-beng.side",
"jh-beng.side",
"ttha-beng.side",
"dda-beng.side",
"ddha-beng.side",
"ddh-beng.side",
"da-beng.side",
"d-beng.side",
"pha-beng.side",
"ba-beng.side",
"ma-beng.side",
"ma-beng.side1",
"ma-beng.side2",
"ma-beng.side3",
"aaMatra-beng.part",
"aaMatra-beng.part2",
"aaMatra-beng.part.short",
"uMatra-beng.side",
"uuMatra-beng.side",
"uuMatra-beng.side2",
"raphala-beng",
"raphala-beng.alt01",
"raphala-beng.alt02",
"raphala-beng.alt03",
"raphala-beng.alt04",
"raphala-beng.alt05",
"raphala-beng.alt06",
"raphala-beng.alt07",
"raphala-beng.alt08",
"raphala-beng.alt09",
"raphala-beng.alt10",
"raphala-beng.alt11",
"raphala-beng.alt12",
"raphala-beng.alt13",
"raphala-beng.alt14",
"raphala-beng.alt15",
"baphala-beng",
"baphala-beng.alt1",
"baphala-beng.alt2",
"baphala-beng.alt3",
"baphala-beng.alt4",
"ga-beng.blws",
"nna-beng.blws",
"nna-beng.blws1",
"ta-beng.blws",
"ta_uMatra-beng.blws",
"t_ra-beng.blws",
"tha-beng.blws",
"dh_ba-beng.blws",
"na-beng.blws",
"na-beng.blws1",
"na-beng.blws2",
"na-beng.blws3",
"pa-beng.blws",
"bha-beng.blws",
"la-beng.blws",
"la-beng.blws1",
"la-beng.blws2",
"la-beng.blws3",
"ka-beng.arm",
"ka-beng.arm1",
"ka-beng.arm2",
"ka-beng.part",
"jha-beng.part",
"dha-beng.part",
"n-beng.float",
"wa-beng.part",
"aaMatra-beng.float",
"aaMatra-beng.side",
"aaMatra-beng.side2",
"tta-beng.flag",
"tta-beng.flag2",
"tta-beng.flag3",
"tta-beng.flagIMatra1",
"tta-beng.flagIMatra2",
"tta-beng.flagIMatra3",
"tta-beng.flagIiMatra",
"tta-beng.flagIiMatra2",
"tta-beng.flagIiMatra3",
"ttha-beng.top",
"ttha-beng.top2",
"ttha-beng.topIMatra",
"ttha-beng.topIMatra2",
"ttha-beng.topIiMatra",
"ttha-beng.topIiMatra2",
"headline-beng.100",
"headline-beng.130",
"headline-beng.200",
"headline-beng.250",
"headline-beng.ba",
"n-beng.headline",
"candrabindu-beng.altIMatra",
"candrabindu-beng.small",
"nukta-beng.alt",
"iMatra-beng.long01",
"iMatra-beng.long02",
"iMatra-beng.long03",
"iMatra-beng.long04",
"iMatra-beng.long05",
"iMatra-beng.long06",
"iMatra-beng.long07",
"iMatra-beng.long08",
"iMatra-beng.long09",
"iMatra-beng.short01",
"iMatra-beng.short02",
"iMatra-beng.short03",
"iMatra-beng.ttaAlt1",
"iMatra-beng.ttaAlt2",
"iMatra-beng.ttaAlt3",
"iMatra-beng.ttaAlt4",
"iMatra-beng.ttaAlt5",
"iMatra-beng.tthaAlt1",
"iMatra-beng.tthaAlt2",
"iMatra-beng.tthaAlt3",
"iiMatra-beng.nubAlt1",
"iiMatra-beng.ttaAlt1",
"iiMatra-beng.tthaAlt1",
"iiMatra-beng.alt",
"auLength-beng.short",
"auLength-beng.long",
"uMatra-beng.alt",
"uMatra-beng.alt1",
"uMatra-beng.round",
"uMatra-beng.low",
"uuMatra-beng.alt",
"uuMatra-beng.alt2",
"uuMatra-beng.round",
"uuMatra-beng.low",
"eMatra-beng.init",
"aiMatra-beng.init",
"eMatra-beng.short",
"aiMatra-beng.short",
"eMatra-beng.short.init",
"aiMatra-beng.short.init",
"reph-beng.altAuLength",
"reph-beng.altIMatra",
"reph-beng.altIiMatra",
"reph-beng.altTtha",
"ya-beng.pstf.short",
exclam.beng,
quotedbl.beng,
numbersign.beng,
percent.beng,
quotesingle.beng,
parenleft.beng,
parenright.beng,
asterisk.beng,
plus.beng,
comma.beng,
hyphen.beng,
period.beng,
slash.beng,
zero.beng,
one.beng,
two.beng,
three.beng,
four.beng,
five.beng,
six.beng,
seven.beng,
eight.beng,
nine.beng,
colon.beng,
semicolon.beng,
less.beng,
equal.beng,
greater.beng,
question.beng,
bracketleft.beng,
backslash.beng,
bracketright.beng,
asciicircum.beng,
underscore.beng,
braceleft.beng,
bar.beng,
braceright.beng,
asciitilde.beng,
uni00A0.beng,
sfthyphen.beng,
endash.beng,
emdash.beng,
quoteleft.beng,
quoteright.beng,
quotedblleft.beng,
quotedblright.beng,
ellipsis.beng,
multiply.beng,
divide.beng,
minus.beng,
uni20B9.beng,
uni0951,
uni0952,
dandadeva,
dbldandadeva,
uni02BC,
uni1CD0,
uni1CD2,
uni1CD5,
uni1CD6,
uni1CD8,
uni1CE1,
uni1CEA,
uni1CED,
uni1CF2,
uni1CF5,
uni1CF6,
uni1CF7,
uniA8F1,
uni200B,
uni2010,
uni25CC,
uni1CF5.stack,
uni1CF6.stack,
"ka_nukta-beng",
"kha_nukta-beng",
"ga_nukta-beng",
"gha_nukta-beng",
"nga_nukta-beng",
"ca_nukta-beng",
"cha_nukta-beng",
"ja_nukta-beng",
"jha_nukta-beng",
"nya_nukta-beng",
"tta_nukta-beng",
"ttha_nukta-beng",
"nna_nukta-beng",
"ta_nukta-beng",
"tha_nukta-beng",
"da_nukta-beng",
"dha_nukta-beng",
"na_nukta-beng",
"pa_nukta-beng",
"pha_nukta-beng",
"bha_nukta-beng",
"ma_nukta-beng",
"la_nukta-beng",
"sha_nukta-beng",
"ssa_nukta-beng",
"sa_nukta-beng",
"ha_nukta-beng",
"ramiddlediagonal_nukta-beng",
"ralowerdiagonal_nukta-beng",
"k_wa-beng",
"g_nna-beng",
"g_dh_ra-beng",
"g_wa-beng",
"ng_gh_ra-beng",
"tt_tt_ra-beng",
"dd_ma-beng",
"nn_ddh_ra-beng",
"t_t_wa-beng",
"t_th_ra-beng",
"t_wa-beng",
"d_wa-beng",
"n_k_ta-beng",
"n_s_tta-beng",
"n_s_tt_ra-beng",
"n_s_ddha-beng",
"n_s_ddh_ra-beng",
"p_t_ra-beng",
"b_jha-beng",
"m_p_la-beng",
"m_ph_ra-beng",
"m_wa-beng",
"l_ph_ra-beng",
"sh_tta-beng",
"sh_tt_ra-beng",
"sh_ddha-beng",
"sh_ddh_ra-beng",
"ss_tt_ba-beng",
"ss_p_la-beng",
"s_k_la-beng",
"s_t_wa-beng",
"s_p_la-beng",
"s_ph_ra-beng",
"s_wa-beng",
"d_dh_b_ra-beng",
"rlowerdiagonal-beng.half_DEPRECATED",
"k_ka-beng",
"k_tta-beng",
"k_tt_ra-beng",
"k_ta-beng",
"k_t_ba-beng",
"k_t_ra-beng",
"k_t_wa-beng",
"k_na-beng",
"k_ba-beng",
"k_ra-beng",
"k_la-beng",
"k_ss_nna-beng",
"k_ss_ba-beng",
"k_ss_ra-beng",
"k_ss_wa-beng",
"kh_ba-beng",
"kh_ra-beng",
"kh_wa-beng",
"g_ga-beng",
"g_da-beng",
"g_d_ra-beng",
"g_dha-beng",
"g_dh_ba-beng",
"g_dh_wa-beng",
"g_na-beng",
"g_ba-beng",
"g_ma-beng",
"g_ra-beng",
"g_ra_uMatra-beng",
"g_ra_uuMatra-beng",
"g_la-beng",
"gh_na-beng",
"gh_ba-beng",
"gh_ra-beng",
"gh_la-beng",
"gh_wa-beng",
"ng_k_ra-beng",
"ng_k_ssa-beng",
"ng_k_ss_ra-beng",
"ng_kha-beng",
"ng_g_ra-beng",
"ng_gha-beng",
"ng_ba-beng",
"ng_ma-beng",
"ng_ra-beng",
"ng_wa-beng",
"c_ca-beng",
"c_cha-beng",
"c_ch_ba-beng",
"c_ch_ra-beng",
"c_ch_wa-beng",
"c_na-beng",
"c_ba-beng",
"c_ra-beng",
"c_wa-beng",
"ch_ba-beng",
"ch_ra-beng",
"ch_wa-beng",
"j_j_wa-beng",
"j_jha-beng",
"j_ny_ba-beng",
"j_ny_ra-beng",
"j_ny_wa-beng",
"j_ba-beng",
"j_wa-beng",
"jh_ba-beng",
"jh_ra-beng",
"jh_wa-beng",
"ny_jha-beng",
"ny_ba-beng",
"ny_ra-beng",
"ny_wa-beng",
"tt_tta-beng",
"tt_ba-beng",
"tt_ma-beng",
"tt_ra-beng",
"tt_wa-beng",
"tth_ba-beng",
"tth_ra-beng",
"tth_wa-beng",
"dd_ga-beng",
"dd_ba-beng",
"dd_ra-beng",
"dd_wa-beng",
"ddh_ba-beng",
"ddh_ra-beng",
"ddh_wa-beng",
"nn_tta-beng",
"nn_tt_ra-beng",
"nn_ttha-beng",
"nn_tth_ra-beng",
"nn_dd_ra-beng",
"nn_ddha-beng",
"nn_nna-beng",
"nn_na-beng",
"nn_ba-beng",
"nn_ma-beng",
"nn_ra-beng",
"nn_wa-beng",
"t_t_ba-beng",
"t_na-beng",
"t_ba-beng",
"t_ma-beng",
"t_ra_uMatra-beng",
"t_ra_uuMatra-beng",
"t_la-beng",
"th_ba-beng",
"th_ra-beng",
"th_ra_uMatra-beng",
"th_ra_uuMatra-beng",
"th_wa-beng",
"d_ga-beng",
"d_gha-beng",
"d_d_ba-beng",
"d_d_ra-beng",
"d_d_wa-beng",
"d_dha-beng",
"d_dh_ba-beng",
"d_dh_wa-beng",
"d_na-beng",
"d_ba-beng",
"d_ma-beng",
"d_ra-beng",
"d_ra_uMatra-beng",
"d_ra_uuMatra-beng",
"dh_na-beng",
"dh_ba-beng",
"dh_ma-beng",
"dh_ra-beng",
"dh_ra_uMatra-beng",
"dh_ra_uuMatra-beng",
"dh_wa-beng",
"n_tta-beng",
"n_tt_ra-beng",
"n_ttha-beng",
"n_tth_ra-beng",
"n_dda-beng",
"n_dd_ra-beng",
"n_ddha-beng",
"n_ddh_ra-beng",
"n_ta-beng",
"n_ta_uMatra-beng",
"n_t_ba-beng",
"n_t_ra-beng",
"n_t_wa-beng",
"n_tha-beng",
"n_th_ra-beng",
"n_da-beng",
"n_d_ba-beng",
"n_d_ra-beng",
"n_d_wa-beng",
"n_dha-beng",
"n_dh_ba-beng",
"n_dh_ra-beng",
"n_dh_wa-beng",
"n_na-beng",
"n_ba-beng",
"n_ma-beng",
"n_wa-beng",
"p_tta-beng",
"p_tt_ra-beng",
"p_ddha-beng",
"p_ddh_ra-beng",
"p_ta-beng",
"p_na-beng",
"p_pa-beng",
"p_ba-beng",
"p_ma-beng",
"p_ra-beng",
"p_la-beng",
"p_wa-beng",
"ph_tta-beng",
"ph_ba-beng",
"ph_ra-beng",
"ph_la-beng",
"ph_wa-beng",
"b_dha-beng",
"b_ba-beng",
"b_ra-beng",
"b_ra_uMatra-beng",
"b_ra_uuMatra-beng",
"b_la-beng",
"b_wa-beng",
"bh_ba-beng",
"bh_ra-beng",
"bh_ra_uMatra-beng",
"bh_ra_uuMatra-beng",
"bh_la-beng",
"bh_wa-beng",
"m_ta-beng",
"m_t_ba-beng",
"m_t_ra-beng",
"m_t_wa-beng",
"m_tha-beng",
"m_na-beng",
"m_pa-beng",
"m_p_ra-beng",
"m_pha-beng",
"m_ba-beng",
"m_b_ra-beng",
"m_bha-beng",
"m_ma-beng",
"m_ra-beng",
"m_la-beng",
"m_sa-beng",
"y_ba-beng",
"y_ra-beng",
"y_wa-beng",
"ra_uMatra-beng",
"ra_uuMatra-beng",
"l_ga-beng",
"l_tta-beng",
"l_tt_ra-beng",
"l_dda-beng",
"l_dd_ra-beng",
"l_ddha-beng",
"l_ddh_ra-beng",
"l_t_ra-beng",
"l_da-beng",
"l_d_ra-beng",
"l_dha-beng",
"l_pa-beng",
"l_ba-beng",
"l_ma-beng",
"l_la-beng",
"l_wa-beng",
"sh_ca-beng",
"sh_cha-beng",
"sh_ta-beng",
"sh_na-beng",
"sh_ba-beng",
"sh_ma-beng",
"sh_ra-beng",
"sh_ra_uMatra-beng",
"sh_ra_uuMatra-beng",
"sh_la-beng",
"sh_wa-beng",
"ss_ka-beng",
"ss_k_ra-beng",
"ss_tta-beng",
"ss_tt_ra-beng",
"ss_ttha-beng",
"ss_pa-beng",
"ss_p_ra-beng",
"ss_pha-beng",
"ss_ph_ra-beng",
"ss_ba-beng",
"ss_ma-beng",
"ss_ra-beng",
"ss_wa-beng",
"s_ka-beng",
"s_k_ra-beng",
"s_tta-beng",
"s_tt_ra-beng",
"s_ddha-beng",
"s_ddh_ra-beng",
"s_ta-beng",
"s_ta_uMatra-beng",
"s_t_ba-beng",
"s_t_ra-beng",
"s_tha-beng",
"s_na-beng",
"s_pa-beng",
"s_p_ra-beng",
"s_pha-beng",
"s_ba-beng",
"s_ma-beng",
"s_ra-beng",
"s_ra_uMatra-beng",
"s_ra_uuMatra-beng",
"s_la-beng",
"s_la_uMatra-beng",
"ha_rVocalicMatra-beng",
"h_nna-beng",
"h_na-beng",
"h_ba-beng",
"h_ra-beng",
"h_la-beng",
"h_wa-beng",
"iMatra_k_tta-beng",
"iMatra_k_tt_ra-beng",
"iMatra_tta-beng",
"iMatra_tt_tta-beng",
"iMatra_tt_tt_ra-beng",
"iMatra_tt_ba-beng",
"iMatra_tt_ma-beng",
"iMatra_tt_ra-beng",
"iMatra_tt_wa-beng",
"iMatra_ttha-beng",
"iMatra_tth_ba-beng",
"iMatra_tth_ra-beng",
"iMatra_tth_wa-beng",
"iMatra_nn_tta-beng",
"iMatra_nn_tt_ra-beng",
"iMatra_nn_ttha-beng",
"iMatra_nn_tth_ra-beng",
"iMatra_n_tta-beng",
"iMatra_n_tt_ra-beng",
"iMatra_n_ttha-beng",
"iMatra_n_tth_ra-beng",
"iMatra_p_tta-beng",
"iMatra_p_tt_ra-beng",
"iMatra_ph_tta-beng",
"iMatra_l_tta-beng",
"iMatra_l_tt_ra-beng",
"iMatra_sh_tta-beng",
"iMatra_ss_tta-beng",
"iMatra_ss_tt_ba-beng",
"iMatra_ss_tt_ra-beng",
"iMatra_ss_ttha-beng",
"iMatra_s_tta-beng",
"iMatra_s_tt_ra-beng",
"iiMatra_tta-beng",
"iiMatra_tt_ra-beng",
"iiMatra_tt_wa-beng",
"iiMatra_ttha-beng",
"iiMatra_tth_ba-beng",
"iiMatra_tth_ra-beng",
"iiMatra_tth_wa-beng",
"iiMatra_nn_tta-beng",
"iiMatra_nn_ttha-beng",
"iiMatra_nn_tth_ra-beng",
"iiMatra_n_tta-beng",
"iiMatra_n_tt_ra-beng",
"iiMatra_n_ttha-beng",
"iiMatra_n_tth_ra-beng",
"iiMatra_p_tta-beng",
"iiMatra_p_tt_ra-beng",
"iiMatra_ph_tta-beng",
"iiMatra_l_tta-beng",
"iiMatra_l_tt_ra-beng",
"iiMatra_ss_ttha-beng",
"rr_ga-beng",
"rr_ba-beng",
"rr_wa-beng",
"rh_wa-beng",
"yy_wa-beng",
"ramiddlediagonal_uMatra-beng",
"ramiddlediagonal_uuMatra-beng",
iiMatra_nn_tt_ra,
"ss_tt_ra-beng_iiMatra",
"ss_tta-beng_iiMatra",
"k_ss_nna-beng.alt",
"s_la-beng.alt",
"h_nna-beng.alt",
"iMatra-beng.long10",
"iMatra-beng.long11",
"rmiddlediagonal-beng.half_DEPRECATED",
"iiMatra-beng.tthaAlt1_DEPRECATED",
"iiMatra-beng.tthaAlt2",
"ss_tt_ba-beng_iiMatra",
"dha-beng.part2_DEPRECATED",
dummymarkbeng,
"_smart-raphala-beng",
"_smart-raphala-beng.001",
"_smart-raphala-beng.002",
"_smart-raphala-beng.003",
"_smart-raphala-beng.004",
"_smart-iMatra-beng",
"_smart-iMatra-beng.001"
)