{
displayStrings = (
"ব/b-beng.half/rlowerdiagonal-beng.half/rmiddlediagonal-beng.half ঘ/gh-beng.half য/y-beng.half/ph-beng.half ফ/y-beng.half/ss-beng.half ষ
ধ/b-beng.half/dh-beng.half ব/th-beng.half 
/kh-beng.half/ch-beng.half/nn-beng.half2/t-beng.half/t_t-beng.half/bh-beng.half/h-beng.half/h-beng.half2"
);
}
