{
displayStrings = (
"ঢ/ddh-beng.half/ddh-beng.half2/tt_tta-beng.noflag চ/c-beng.half1/c-beng.half2/c-beng.half 
/ddh-beng.half/ddh-beng.half2/tt_ra-beng/ddh_ra-beng/iMatra_tt_ra-beng/iiMatra_tt_ra-beng 
/ddh-beng.half/ddh-beng.half/tt_ba-beng/tt_ma-beng/tt_wa-beng/ddh_ba-beng/ddh_wa-beng/iMatra_tt_ba-beng/iMatra_tt_ma-beng/iMatra_tt_wa-beng/iiMatra_tt_wa-beng"
);
}
