{
displayStrings = (
"াাঀাাংাাঃাাঅাাআাাইাাঈাাউাাঊাাঋাাঌাাএাাঐাাওাাঔাা
ববঀববংববঃববঅববঅআববইববঈববউববঊববঋববঌববএববঐববওববঔবব
ততঀততংততঃততঅততআততইততঈততউততঊততঋততঌততএততঐততওততঔতত
াাকাাখাাগাাঘাাঙাাচাাছাাজাাঝাাঞাাটাাঠাাডাাঢাাণাাতাা
ববকববখববগববঘববঙববচববছববজববঝববঞববটববঠববডববঢববণববতবব
ততকততখততগততঘততঙততচততছততজততঝততঞততটততঠততডততঢততণততততত
াাথাাদাাধাানাাপাাফাাবাাভাামাাযাারাালাাশাাষাাসাাহাাঽাা
ববথববদববধববনববপববফবববববভববমববযববরববলববশববষববসববহববঽবব
ততথততদততধততনততপততফততবততভততমততযততরততলততশততষততসততহততঽতত
াাাাািাাাাাাীাাোাৈাাাৎাাৗাাড়াাঢ়াায়াাৠাাৡাা
ববাববিববীববেববৈববৎববৗববড়ববঢ়ববয়ববৠববৡবব
ততাততিততীততেততৈততৎততৗততড়ততঢ়ততয়ততৠততৡতত
াা০াা১াা২াা৩াা৪াা৫াা৬াা৭াা৮াা৯াা
বব০বব১বব২বব৩বব৪বব৫বব৬বব৭বব৮বব৯বব
তত০তত১তত২তত৩তত৪তত৫তত৬তত৭তত৮তত৯তত
াাৰাাৱাা৲াা৳াা৴াা৵াা৶াা৷াা৸াা৹াা৺াা৻াাৼাা৽াা
ববৰববৱবব৲বব৳বব৴বব৵বব৶বব৷বব৸বব৹বব৺বব৻ববৼবব৽
ততৰততৱতত৲তত৳তত৴তত৵তত৶তত৷তত৸তত৹তত৺তত৻ততৼতত৽তত"
);
}
