{
displayStrings = (
"/n-beng.headline/n_k_ta-beng/n-beng.half/n_ka-beng/n_tta-beng/n_tt_ra-beng/n_ttha-beng/n_tth_ra-beng/n_dda-beng/n_dd_ra-beng/n_ddha-beng/n_ddh_ra-beng/n_da-beng/n_d_ba-beng/n_d_ra-beng/n_d_wa-beng/n_dha-beng/n_dh_ba-beng/n_dh_ra-beng/n_dh_wa-beng/n_na-beng/n_ba-beng/n_ma-beng/n_wa-beng/iMatra_n_tta-beng/iMatra_n_tt_ra-beng/iMatra_n_ttha-beng/iMatra_n_tth_ra-beng/iiMatra_n_tta-beng/iiMatra_n_tt_ra-beng/iiMatra_n_ttha-beng/iiMatra_n_tth_ra-beng"
);
}
