(
.notdef,
CR,
NULL,
"a-beng",
"aa-beng",
"aaMatra-beng",
"aaMatra-beng.fina",
"ai-beng",
"aiMatra-beng",
"aiMatra-beng.init",
"anji-beng",
"anudatta-deva",
"anusvara-beng",
asciicircum,
asciitilde,
assacross,
assastroke,
asterisk,
"au-beng",
"auLength-beng",
"auLength-beng.fina",
"auMatra-beng",
"avagraha-beng",
"b-beng",
"b_ba-beng",
"b_bha-beng",
"b_bh_ra-beng",
"b_d_ra-beng",
"b_da-beng",
"b_dha-beng",
"b_ddha-beng",
"b_ja-beng",
"b_la-beng",
"b_ra-beng",
"b_ra_uMatra-beng",
"b_ra_uuMatra-beng",
"ba-beng",
"ba-beng.blwf",
backslash,
bar,
"bh-beng",
"bh-beng.nukt",
"bh_ba-beng",
"bh_la-beng",
"bh_ra-beng",
"bh_ra_uMatra-beng",
"bh_ra_uuMatra-beng",
"bha-beng",
"bha-beng.nukt",
braceleft,
braceright,
bracketleft,
bracketright,
"c-beng",
"c-beng.nukt",
"c_ba-beng",
"c_ca-beng",
"c_ch_ba-beng",
"c_ch_ra-beng",
"c_cha-beng",
"c_na-beng",
"c_nya-beng",
"c_ra-beng",
"ca-beng",
"ca-beng.nukt",
"candrabindu-beng",
"candrabindu-beng.alt",
"ch-beng",
"ch-beng.nukt",
"ch_ba-beng",
"ch_ra-beng",
"cha-beng",
"cha-beng.nukt",
colon,
comma,
"d-beng",
"d-beng.nukt",
"d_ba-beng",
"d_bh_ra-beng",
"d_bha-beng",
"d_d_ba-beng",
"d_da-beng",
"d_d_ra-beng",
"d_dh_ba-beng",
"d_dha-beng",
"d_ga-beng",
"d_gha-beng",
"d_ma-beng",
"d_na-beng",
"d_ra-beng",
"d_ra_uMatra-beng",
"d_ra_uuMatra-beng",
"d_wa-beng",
"da-beng",
"da-beng.nukt",
"danda-deva",
"dbldanda-deva",
"dd-beng",
"dd-beng.nukt",
"ddNukta_ba-beng",
"ddNukta_ga-beng",
"ddNukta_ra-beng",
"dd_ba-beng",
"dd_dda-beng",
"dd_ga-beng",
"dd_ma-beng",
"dd_ra-beng",
"dda-beng",
"ddh-beng",
"ddh-beng.nukt",
"ddhNukta_ba-beng",
"ddh_ba-beng",
"ddh_ra-beng",
"ddha-beng",
"dh-beng",
"dh-beng.nukt",
"dh_ba-beng",
"dh_ma-beng",
"dh_na-beng",
"dh_ra-beng",
"dh_ra_uMatra-beng",
"dh_ra_uuMatra-beng",
"dha-beng",
"dha-beng.nukt",
divide,
dottedcircle,
"e-beng",
"eMatra-beng",
"eMatra-beng.init",
eight,
"eight-beng",
ellipsis,
emdash,
endash,
equal,
exclam,
five,
"five-beng",
four,
"four-beng",
"fourNumr-beng",
"g-beng",
"g-beng.nukt",
"g_ba-beng",
"g_da-beng",
"g_dha-beng",
"g_dh_ba-beng",
"g_ga-beng",
"g_la-beng",
"g_ma-beng",
"g_nna-beng",
"g_na-beng",
"g_ra-beng",
"g_ra_uMatra-beng",
"g_ra_uuMatra-beng",
"g_wa-beng",
"ga-beng",
"ga-beng.nukt",
"ga_uMatra-beng",
"ganda-beng",
"gh-beng",
"gh-beng.nukt",
"gh_ba-beng",
"gh_la-beng",
"gh_na-beng",
"gh_ra-beng",
"gha-beng",
"gha-beng.nukt",
greater,
"h-beng",
"h-beng.nukt",
"h_ba-beng",
"h_la-beng",
"h_ma-beng",
"h_na-beng",
"h_nna-beng",
"h_ra-beng",
"ha-beng",
"ha-beng.nukt",
"ha_rVocalicMatra-beng",
"ha_uMatra-beng",
"halant-beng",
hyphen,
"i-beng",
"iMatra-beng",
"iMatra-beng.short",
"iMatra-beng.wide1",
"iMatra-beng.wide2",
"iMatra-beng.wide3",
"iMatra-beng.wide4",
"iMatra_candrabindu-beng",
"iMatra_reph-beng",
"ii-beng",
"iiMatra-beng",
"iiMatra-beng.fina",
"iiMatra_reph-beng",
"iiMatra_reph_candrabindu-beng",
"isshar-beng",
"j-beng",
"j-beng.nukt",
"j_ba-beng",
"j_j_ba-beng",
"j_ja-beng",
"j_jha-beng",
"j_ny-beng",
"j_ny_ba-beng",
"j_ny_ra-beng",
"j_nya-beng",
"j_ra-beng",
"ja-beng",
"ja-beng.nukt",
"jh-beng",
"jh-beng.nukt",
"jh_ba-beng",
"jh_ra-beng",
"jha-beng",
"jha-beng.nukt",
"k-beng",
"k-beng.nukt",
"k_ba-beng",
"k_ka-beng",
"k_la-beng",
"k_ma-beng",
"k_na-beng",
"k_ra-beng",
"k_sa-beng",
"k_ss-beng",
"k_ss_ba-beng",
"k_ss_ma-beng",
"k_ss_nna-beng",
"k_ss_ra-beng",
"k_ssa-beng",
"k_t_ba-beng",
"k_t_ra-beng",
"k_ta-beng",
"k_tt_ra-beng",
"k_tt_ra_auLength-beng",
"k_tt_ra_iMatra-beng",
"k_tt_ra_iiMatra-beng",
"k_tta-beng",
"k_tta_auLength-beng",
"k_tta_iMatra-beng",
"k_tta_iiMatra-beng",
"k_wa-beng",
"ka-beng",
"ka-beng.nukt",
"kh-beng",
"kh-beng.nukt",
"kh_ba-beng",
"kh_ra-beng",
"kha-beng",
"kha-beng.nukt",
"l-beng",
"l-beng.nukt",
"lVocalic-beng",
"lVocalicMatra-beng",
"l_ba-beng",
"l_bha-beng",
"l_da-beng",
"l_d_ra-beng",
"l_dd_ra-beng",
"l_dda-beng",
"l_dha-beng",
"l_ddha-beng",
"l_ga-beng",
"l_ga_uMatra-beng",
"l_gha-beng",
"l_ka-beng",
"l_la-beng",
"l_ma-beng",
"l_pa-beng",
"l_pha-beng",
"l_ph_ra-beng",
"l_ra-beng",
"l_sa-beng",
"l_ta-beng",
"l_tt_ra-beng",
"l_tt_ra_auLength-beng",
"l_tt_ra_iMatra-beng",
"l_tt_ra_iiMatra-beng",
"l_tta-beng",
"l_tta_auLength-beng",
"l_tta_iMatra-beng",
"l_tta_iiMatra-beng",
"la-beng",
"la-beng.nukt",
less,
"llVocalic-beng",
"llVocalicMatra-beng",
"m-beng",
"m-beng.nukt",
"m_b_ra-beng",
"m_ba-beng",
"m_bh_ra-beng",
"m_bha-beng",
"m_da-beng",
"m_d_ra-beng",
"m_la-beng",
"m_ma-beng",
"m_na-beng",
"m_p_ra-beng",
"m_pa-beng",
"m_p_la-beng",
"m_pha-beng",
"m_ph_ra-beng",
"m_ra-beng",
"m_sa-beng",
"m_ta-beng",
"m_tha-beng",
"m_wa-beng",
"ma-beng",
"ma-beng.nukt",
minus,
multiply,
"n-beng",
"n-beng.nukt",
"n_ba-beng",
"n_d_ba-beng",
"n_d_ra-beng",
"n_da-beng",
"n_dd_ra-beng",
"n_dda-beng",
"n_ddha-beng",
"n_dh_ra-beng",
"n_dha-beng",
"n_dh_ba-beng",
"n_ja-beng",
"n_k_ta-beng",
"n_ma-beng",
"n_na-beng",
"n_ra-beng",
"n_sa-beng",
"n_s_tta-beng",
"n_s_tta_auLength-beng",
"n_s_tta_iMatra-beng",
"n_s_tta_iiMatra-beng",
"n_t_ba-beng",
"n_t_ra-beng",
"n_ta-beng",
"n_ta_uMatra-beng",
"n_th_ra-beng",
"n_tha-beng",
"n_tt_ra-beng",
"n_tt_ra_auLength-beng",
"n_tt_ra_iMatra-beng",
"n_tt_ra_iiMatra-beng",
"n_tta-beng",
"n_tta_auLength-beng",
"n_tta_iMatra-beng",
"n_tta_iiMatra-beng",
"n_ttha-beng",
"n_ttha_iiMatra-beng",
"n_tth_ra-beng",
"n_tth_ra_iiMatra-beng",
"na-beng",
"na-beng.nukt",
nbspace,
"ng-beng",
"ng-beng.nukt",
"ng_ba-beng",
"ng_ga-beng",
"ng_gha-beng",
"ng_k_ra-beng",
"ng_k_ssa-beng",
"ng_k_ss_ra-beng",
"ng_ka-beng",
"ng_kha-beng",
"ng_ma-beng",
"ng_ra-beng",
"nga-beng",
"nga-beng.nukt",
nine,
"nine-beng",
"nn-beng",
"nn-beng.nukt",
"nn_ba-beng",
"nn_dd_ra-beng",
"nn_dda-beng",
"nn_ddha-beng",
"nn_ddh_ra-beng",
"nn_ma-beng",
"nn_na-beng",
"nn_nna-beng",
"nn_ra-beng",
"nn_tt_ra-beng",
"nn_tt_ra_auLength-beng",
"nn_tt_ra_iMatra-beng",
"nn_tt_ra_iiMatra-beng",
"nn_tta-beng",
"nn_tta_auLength-beng",
"nn_tta_iMatra-beng",
"nn_tta_iiMatra-beng",
"nn_ttha-beng",
"nn_ttha_iiMatra-beng",
"nn_tth_ra-beng",
"nn_tth_ra_iiMatra-beng",
"nna-beng",
"nna-beng.nukt",
"nukta-beng",
numbersign,
"ny-beng",
"ny-beng.nukt",
"ny_ba-beng",
"ny_ca-beng",
"ny_c_ba-beng",
"ny_cha-beng",
"ny_ja-beng",
"ny_jha-beng",
"ny_ra-beng",
"nya-beng",
"nya-beng.nukt",
"o-beng",
"oMatra-beng",
one,
"one-beng",
"oneLessNumr-beng",
"oneNumr-beng",
"p-beng",
"p-beng.nukt",
"p_ba-beng",
"p_la-beng",
"p_ma-beng",
"p_na-beng",
"p_pa-beng",
"p_ra-beng",
"p_ra_uMatra-beng",
"p_ra_uuMatra-beng",
"p_sa-beng",
"p_ta-beng",
"p_ta_uMatra-beng",
"p_t_ra-beng",
"p_tta-beng",
"p_tta_auLength-beng",
"p_tta_iMatra-beng",
"p_tta_iiMatra-beng",
"pa-beng",
"pa-beng.nukt",
parenleft,
parenright,
percent,
period,
"ph-beng",
"ph-beng.nukt",
"ph_ba-beng",
"ph_la-beng",
"ph_ra-beng",
"ph_tta-beng",
"ph_tta_auLength-beng",
"ph_tta_iMatra-beng",
"ph_tta_iiMatra-beng",
"pha-beng",
"pha-beng.nukt",
plus,
question,
quotedbl,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotesingle,
"r-beng",
"rVocalic-beng",
"rVocalicMatra-beng",
"ra-beng",
"ra-beng.blwf",
"ra_uMatra-beng",
"ra_uuMatra-beng",
"ralowerdiagonal-beng",
"ralowerdiagonal-beng.nukt",
"ralowerdiagonal_uMatra-beng",
"ralowerdiagonal_uuMatra-beng",
"ralowerdiagonalhalf-beng",
"ralowerdiagonalhalf-beng.nukt",
"ralowerdiagonalhalf_ba-beng",
"ralowerdiagonalhalf_ra-beng",
"ramiddlediagonal-beng",
"ramiddlediagonal-beng.nukt",
"ramiddlediagonal_uMatra-beng",
"ramiddlediagonal_uuMatra-beng",
"ramiddlediagonalhalf-beng",
"ramiddlediagonalhalf-beng.nukt",
"ramiddlediagonalhalf_ba-beng",
"ramiddlediagonalhalf_ra-beng",
"reph-beng",
"reph_candrabindu-beng",
"rha-beng",
"rh_ra-beng",
"rrVocalic-beng",
"rrVocalicMatra-beng",
"rra-beng",
"rupee-beng",
rupeeIndian,
"rupeemark-beng",
"s-beng",
"s-beng.nukt",
"s_ba-beng",
"s_k_ra-beng",
"s_k_la-beng",
"s_ka-beng",
"s_kha-beng",
"s_la-beng",
"s_la_uMatra-beng",
"s_ma-beng",
"s_na-beng",
"s_p_ra-beng",
"s_pa-beng",
"s_p_la-beng",
"s_pha-beng",
"s_ph_ra-beng",
"s_ra-beng",
"s_ra_uMatra-beng",
"s_ra_uuMatra-beng",
"s_t_ba-beng",
"s_t_ra-beng",
"s_t_wa-beng",
"s_ta-beng",
"s_ta_uMatra-beng",
"s_tha-beng",
"s_tt_ra-beng",
"s_tt_ra_auLength-beng",
"s_tt_ra_iMatra-beng",
"s_tt_ra_iiMatra-beng",
"s_tta-beng",
"s_tta_auLength-beng",
"s_tta_iMatra-beng",
"s_tta_iiMatra-beng",
"s_wa-beng",
"sa-beng",
"sa-beng.nukt",
semicolon,
seven,
"seven-beng",
"sh-beng",
"sh-beng.nukt",
"sh_ba-beng",
"sh_ca-beng",
"sh_cha-beng",
"sh_la-beng",
"sh_ma-beng",
"sh_na-beng",
"sh_ra-beng",
"sh_ra_uMatra-beng",
"sh_ra_uuMatra-beng",
"sh_ta-beng",
"sh_tta-beng",
"sh_tta_auLength-beng",
"sh_tta_iMatra-beng",
"sh_tta_iiMatra-beng",
"sha-beng",
"sha-beng.nukt",
"sha_uMatra-beng",
six,
"six-beng",
"sixteenDnom-beng",
slash,
space,
"ss-beng",
"ss-beng.nukt",
"ss_ba-beng",
"ss_k_ra-beng",
"ss_ka-beng",
"ss_ma-beng",
"ss_nna-beng",
"ss_pa-beng",
"ss_p_ra-beng",
"ss_pha-beng",
"ss_ra-beng",
"ss_tt_ra-beng",
"ss_tt_ra_auLength-beng",
"ss_tt_ra_iMatra-beng",
"ss_tt_ra_iiMatra-beng",
"ss_tta-beng",
"ss_tta_auLength-beng",
"ss_tta_iMatra-beng",
"ss_tta_iiMatra-beng",
"ss_tt_ba-beng",
"ss_tt_ba_auLength-beng",
"ss_tt_ba_iMatra-beng",
"ss_tt_ba_iiMatra-beng",
"ss_ttha-beng",
"ss_ttha_iiMatra-beng",
"ssa-beng",
"ssa-beng.nukt",
"t-beng",
"t-beng.nukt",
"t_ba-beng",
"t_la-beng",
"t_ma-beng",
"t_na-beng",
"t_ra-beng",
"t_ra_uMatra-beng",
"t_ra_uuMatra-beng",
"t_t_ra-beng",
"t_t_ba-beng",
"t_t_wa-beng",
"t_ta-beng",
"t_tha-beng",
"t_th_ra-beng",
"t_wa-beng",
"ta-beng",
"ta-beng.nukt",
"taKhanda-beng",
"th-beng",
"th-beng.nukt",
"th_ba-beng",
"th_ra-beng",
"th_ra_uMatra-beng",
"th_ra_uuMatra-beng",
"tha-beng",
"tha-beng.nukt",
three,
"three-beng",
"threeNumr-beng",
"tt-beng",
"tt-beng.nukt",
"tt_ba-beng",
"tt_ba_auLength-beng",
"tt_ba_iMatra-beng",
"tt_ba_iiMatra-beng",
"tt_ma-beng",
"tt_ma_iMatra-beng",
"tt_ma_iiMatra-beng",
"tt_ra-beng",
"tt_ra_auLength-beng",
"tt_ra_iMatra-beng",
"tt_ra_iiMatra-beng",
"tt_tta-beng",
"tt_tta_auLength-beng",
"tt_tta_iMatra-beng",
"tt_tta_iiMatra-beng",
"tt_tt_ra-beng",
"tt_tt_ra_auLength-beng",
"tt_tt_ra_iMatra-beng",
"tt_tt_ra_iiMatra-beng",
"tta-beng",
"tta-beng.nukt",
"tta_auLength-beng",
"tta_iMatra-beng",
"tta_iiMatra-beng",
"tth-beng",
"tth-beng.nukt",
"tth_ba-beng",
"tth_ba_iiMatra-beng",
"tth_ra-beng",
"tth_ra_iiMatra-beng",
"ttha-beng",
"ttha-beng.nukt",
"ttha_iiMatra-beng",
two,
"two-beng",
"twoNumr-beng",
"u-beng",
"uMatra-beng",
"uMatra-beng.alt",
"udatta-deva",
underscore,
uni00AD,
uni02BC,
uni09FC,
uni09FD,
uni09FE,
uni09FE.low,
uni1CD0,
uni1CD2,
uni1CD5,
uni1CD6,
uni1CD8,
uni1CE1,
uni1CEA,
uni1CED,
uni1CF2,
uni1CF5,
uni1CF5.stack,
uni1CF5.steck,
uni1CF5.stick,
uni1CF6,
uni1CF6.stack,
uni1CF6.steck,
uni1CF6.stick,
uni1CF7,
uni2010,
uniA8F1,
uniA8F1.low,
"uu-beng",
"uuMatra-beng",
"uuMatra-beng.alt",
"visarga-beng",
"y-beng",
"y-beng.nukt",
"yNukta_ba-beng",
"yNukta_ra-beng",
"y_ba-beng",
"y_ra-beng",
"ya-beng",
"ya-beng.pstf",
"yya-beng",
zero,
"zero-beng",
zerowidthjoiner,
zerowidthnonjoiner,
zerowidthspace,
"auLength-beng.long",
"iMatra-beng.long",
"k-beng.DEPRECATED",
"g-beng.DEPRECATED",
"ng-beng.DEPRECATED",
"c-beng.DEPRECATED",
"tt-beng.DEPRECATED",
"dd-beng.DEPRECATED",
"ddh-beng.DEPRECATED",
"nn-beng.DEPRECATED",
"d-beng.DEPRECATED",
"n-beng.DEPRECATED",
"p-beng.DEPRECATED",
"b-beng.DEPRECATED",
"m-beng.DEPRECATED",
"l-beng.DEPRECATED",
"sh-beng.DEPRECATED",
"ss-beng.DEPRECATED",
"s-beng.DEPRECATED",
"iiMatra-beng.long"
)