{
displayStrings = (
"/ng_k_ssa-beng/ng_k_ss_ra-beng/g_nna-beng/b_ddha-beng",
"ঠ/auLength-beng.long/iMatra-beng.long/n_ttha-beng/iMatra-beng.wide1/n_ttha-beng/iMatra-beng.wide1/n_tth_ra-beng/iMatra-beng.wide2/nn_ttha-beng/iMatra-beng.wide1/ss_ttha-beng 
/n_tth_ra-beng/iiMatra-beng.long ঠ/auLength-beng.long",
"/iMatra-beng.short/ss_ttha-beng/iMatra-beng.wide1/ss_ttha-beng  ",
"/n_ttha-beng/n_tth_ra-beng/nn_ttha-beng/nn_tth_ra-beng/ss_ttha-beng/tth_ba-beng/tth_ra-beng ঠ/ttha-beng.nukt 
/iMatra-beng.wide1/nn_ttha-beng  /iMatra-beng.wide2/nn_ttha-beng  ি/n_ttha-beng/iMatra-beng.wide1/n_ttha-beng  ি/n_tth_ra-beng  /iMatra-beng.wide1/n_tth_ra-beng  
/iMatra-beng.short/ss_ttha-beng  /iMatra-beng.wide1/ss_ttha-beng 
/n_tth_ra-beng/iiMatra-beng.long ঠ/auLength-beng.long"
);
}
