name: Build, QA, Release

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build_font:
    uses: notofonts/notobuilder/.github/workflows/build.yaml@main
    secrets: inherit

